@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    background:#c2bac5;
    margin-top:20px;
    font-family: "Poppins";
}

.widget {
  position: relative;
  margin-bottom: 30px;
  padding: 0px 20px;
  background: #fff;
  border-radius: 3px;
}

.widget-controls {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 14px;
  font-size: 12px;
}

.widget-controls>a {
  padding: 1px 4px;
  border-radius: 4px;
  color: rgba(0,0,0,0.4);
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  color:#fff;
}

.text-white {
  color: #fff;
}

.bg-body, .bg-body-light, 
.bg-gray, .bg-gray-transparent, 
.bg-transparent, .bg-primary, 
.bg-success, .bg-warning, 
.bg-danger, .bg-info {
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.bg-warning {
  background-color: #5b2e48;
}



.widget-top-overflow {
  margin-top: -15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.widget-top-overflow, .widget-middle-overflow {
  position: relative;
  margin: 0 -20px;
}

.windget-padding-md {
  padding: 15px 20px;
}

.tags {
  padding-left: 0;
  list-style: none;
}

.tags>li {
  float: left;
  margin:3px;
}

h3, .h3 {
  font-size: 24px;
}

.tags>li>a {
  padding: 2px 8px;
  font-size: 13px;
  border-radius: 6px;
  border: 1px solid white;
  color: inherit;
  text-decoration: none;
}

.mt-n-lg {
  margin-top: -30px;
}

.post-user {
  position: relative;
}

.mr {
  margin-right: 15px;
}

.thumb-xs, .thumb-sm, .thumb-lg, .thumb {
  position: relative;
  display: inline-block;
  text-align: center;
}

.thumb-lg {
  width: 60px;
}

.thumb-xs img, .thumb-sm img, .thumb-lg img, .thumb img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.post-user img {
  border: 3px solid white;
}

.fs-mini {
  font-size: 13px;
}

.text-light {
  opacity: .8;
}

h4{
    color: #5b2e48;
}

p {
  margin: 0 0 10px;
}

.widget>footer {
  margin: 0 -20px -15px;
  padding: 15px 20px;
}

.bg-body, .bg-body-light, .bg-gray, 
.bg-gray-transparent, 
.bg-transparent, .bg-primary, 
.bg-success, .bg-warning, 
.bg-danger, .bg-info {
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.bg-body-light {
  background-color: #f6f6f6;
}

.post-links {
  margin-bottom: 0px;
  font-size: 12px;
  padding-left: 0;
}

.post-links>li {
  float: left;
  list-style: none;
  margin:4px;
}

.post-links>li>a {
  text-decoration: none;
  color: #999;
}

.post-links+.post-comments {
  margin-top: 30px;
}

.widget>footer .post-comments {
  margin-left: -20px;
  margin-right: -20px;
}



.post-comments {
  font-size: 12px;
  padding-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.post-comments>li {
  padding: 10px;
  border-top: 1px solid #e7e7e7;
  list-style: none;
}

.post-comments .avatar {
  margin-top: 1px;
}

.mr-sm {
  margin-right: 10px;
}

.thumb-xs, .thumb-sm, .thumb-lg, .thumb {
  position: relative;
  display: inline-block;
  text-align: center;
}

.btn{
    background-color: #5b2e48;
    border: none;
    margin: 3px;
}
.btn:hover{
    background-color: #d173aa;
    border: none;
    margin: 3px;

}

.btn:active:focus{
    background-color: #d173aa !important; 
    border: none !important;
    margin: 3px !important;

}

.thumb-xs {
  width: 28px;
}

.post-comments .author {
  margin-top: 0;
  margin-bottom: 2px;
  color: #5b2e48;
}

.fw-semi-bold {
  font-weight: 600;
}

h6, .h6 {
  font-size: 12px;
}

.post-comments .comment-body {
  overflow: auto;
}