@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    background: #c2bac5;
    font-family: "Poppins";
}

.form-control:focus {
    box-shadow: none;
    border-color:#c2bac5;
}

.profile-button {
    background:#5b2e48;
    box-shadow: none;
    border: none;
    float: right;
    margin: 5px;
    
}

.profile-button:hover {
    background: #a25281;
}

.profile-button:focus {
    background: #5b2e48 !important;
    box-shadow: none
}

.profile-button:active {
    background: #5b2e48 !important;
    box-shadow: none
}

.back:hover {
    color: #5b2e48;
    cursor: pointer
}

a{
    color: #5b2e48;
}
a:hover{
    color: #a25281;
}