body{
    margin-top:20px;
    background:#FAFAFA; 
     
}



.people-nearby .nearby-user{
  padding: 40px 0;
  border-top: 1px solid #f1f2f2;
  border-bottom: 1px solid #f1f2f2;
  margin-bottom: 20px;
}

img.profile-photo-lg{
  position: relative;
  left: 10px;
  margin-left: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

a:hover{
    text-decoration: none;
}