<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>
   <head>
      <title>Administator</title>
      <link rel="stylesheet" href="/style/profil.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>
   <body>
      <div class="container-fluid maxWidth">

         <nav class="navbar navbar-expand-lg  navbar-dark" style="background-color:#c2bac5">
             <a class="navbar-brand" href="#">
                 <img src="/images/nlj-64.png" alt="Logo" style="width:40px;" class="rounded">
             </a>
 
             <form name='pretrazivanjeKorisnika' th:action="@{/administrator/pregledDrugogProfila}" method='POST' class="form-inline">
                 <input type="text" th:name="username" class="form-control mr-sm-2" placeholder="Pretraživanje">
                 <button class="btn btn-success " type="submit" style="background-color:#5b2e48; border:none;">Pretraži</button>
             </form>
 
             <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                     <a class="nav-link font-weight-bold" style="color: #5b2e48;" href="/preusmjeriProfil">Moj profil</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link font-weight-bold" style="color: #5b2e48;" href="/logout">Odjava</a>
                 </li>
 
 
             </ul>
         </nav>
         <div class="profile-page tx-13">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="profile-header">

                        <div class="gray-shade"></div>
                           <div class="cover-body d-flex justify-content-between align-items-center">
                              <div class="m-3">
                                 <img class="profile-pic" src="/images/profila-def.jpeg" alt="profile" >
                                 <span class="profile-name">Administator</span>
                              </div>
                           </div>
                           <div class="header-links">
                              <ul class="links d-flex align-items-center mt-3 mt-md-0">

                                 <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <a th:href="@{/poruke}">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                          <a class="pt-1px d-none d-md-block m-2" th:href="@{/poruke}">Poruke</a>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
          <br/>
         <div class="row profile-body d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 middle-wrapper">
               <div class="row">
                  <div class="col-md-12 grid-margin">
                     <div class="card rounded">
         
                        <tr th:each="prijava : ${prijave}">
                              <p>Datum prijave:
                              <td th:text="${prijava.datum}"></td></p>
                              <td th:text="${'Korisnik ' + prijava.prijavitelj.userName}"></td>
                              <td th:text="${'je prijavio korisnika ' + prijava.prijavljeni.userName}"></td><br>
                              <p>Razlog prijavljivanja:
                              <td th:text="${' ' + prijava.opis}"></td></p>
                              <form th:action="@{'/administrator/odbaciPrijavu'}" method='POST' enctype="multipart/form-data">
                                 <input type="hidden" name="idPrijave" th:value="${prijava.id}">
                              <input type="submit" class="btn btn-primary" value="Odbaci prijavu" style="background-color:#5b2e48; border:none;">
                           </form>
                           
                           <form th:action="@{'/administrator/blokirajKorisnika'}" method='POST' enctype="multipart/form-data">
                              <input type="hidden" name="idPrijave" th:value="${prijava.id}">
                              <input type="hidden" name="username" th:value="${prijava.prijavljeni.userName}"><br>
                              <p>Blokiraj korisnika do:
                              <input type="datetime-local" name="banUntil"  placeholder="ban until" required></p>
                              <input type="submit"  class="btn btn-primary" value="Blokiraj korisnika" style="background-color:#5b2e48; border:none;">
                           </form>
                           <br/>
                           <hr>
                        </tr>
                     </div>
                  </div>

               </div>
            </div>
         </div>

               

      </div>
      
      
   </body>
   
</html>