<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>
<head>
    
    <title>Događaji</title>
	<link rel="stylesheet" href="/style/dogadajiPrijatelja.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div>
	<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#5b2e48; height: calc(100% - 40px);">
		
		<div class="collapse navbar-collapse" id="navbarNav" >
		  <ul class="navbar-nav">
			
			<li class="nav-item ">
			  <a class="nav-link" th:href="@{/preusmjeriProfil}" style="color:#fff;">Profil </a>
			</li>
			
			
		  </ul>
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item ml-auto" >
				
				<a class="nav-link " th:href="@{/dogadajForm}" style="color:#fff;"><i class="fa fa-plus" aria-hidden="true" style="color:#fff;"></i>  Dodaj događaj</a>
			</li>
		  </ul>
		</div>
	  </nav>
	</div>
    

	
	<br>
	
	<tr th:each="dogadaj : ${dogadaji}">  
		 
			<div class="container bootstrap snippets bootdey">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<section class="widget">
							<div class="widget-body">
								<div class="widget-top-overflow windget-padding-md clearfix text-white" style="background-color:#5b2e48;">
									
									<h3>Događaj</h3>
								</div>
							</div>
							<div class="widget-body">
								<!-- ako postoji opis ispisi ga -->
								<h5>Lokacija: </h5>
								<td th:text="${dogadaj.lokacija}" /><br/>
								<h5>Opis: </h5>
								<td th:text="${dogadaj.opis}" /><br/>
								<h5>Od: </h5>
								<td th:text="${dogadaj.startDate}" /><br/>
								<h5>Do: </h5>
								<td th:text="${dogadaj.endDate}" /><br/>
							</div>
							<footer class="bg-body-light">                   
								<ul class="post-comments mt mb-0" >
										<table>
											<tr th:each="komentar : ${komentariDogadaja.get(dogadaj.id)}">
												
													<div class="comment-body" style="text-indent:10px;">
														
															<h6 class="author fw-semi-bold" th:text="${komentar}">
																
																	
																
															</h6>
															<hr>
														
															
													</div>
												
											</tr> 
										</table>
									</ul>
							</footer>
							<br/>
					</section>
				</div>
			

			</div>
			

		<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
		</div>
	
</tr>

</body>
	<!--
	<tr th:each="dogadaj : ${dogadaji}">
    
		<td th:text="${'pocetak: ' + dogadaj.startDate}" /> <br/>
		<td th:text="${'kraj: ' + dogadaj.endDate}" /> <br/>
		<td th:text="${'lokacija: ' + dogadaj.lokacija}" /> <br/>
		<td th:text="${'opis: ' + dogadaj.opis}" /> <br/>
		<td th:text="${'privpubl: ' + dogadaj.privpubl}" /> <br/>

		Komentari... -->
    	<!-- ako postoje komentari ispisi ih --> 
    	<!--<table>
            <tr th:each="komentar : ${komentariDogadaja.get(dogadaj.id)}" required maxlength="255">
                <td th:text="${komentar}"/>
	    	</tr> 
        </table>

		<br/>
	</tr>
	
	<a th:href="@{/preusmjeriProfil}"> profil</a>
    <br/><br/> -->
</body>