<!DOCTYPE html>
<head th:replace="header :: header"></head>
<head>
    <title>Ljubimac</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/ljubimacProfil.css">
</head>
<body>
    <script>
		function edit() {
			let x = document.getElementById("ime")
			x.disabled = false;
			x = document.getElementById("datum_rodenja")
			x.disabled = false;
			x = document.getElementById("profilna_fotografija")
			x.disabled = false;
			x.style.display = "block";
			x = document.getElementById("opis")
			x.disabled = false;


			let element = document.getElementById("edit")
			element.style.display = "none"
			let element2 = document.getElementById("save")
			element2.style.display = "block";

		}
	</script>

	<div class="container rounded bg-white mt-5">
		<form name='f' th:action="@{/ljubimac/profil/{path}(path=${ljubimac.id})}" method="post" id="forma" enctype="multipart/form-data"></form>
		<div class="row">
			<div class="col-md-4 border-right">
				<div class="d-flex flex-column align-items-center text-center p-3 py-5" th:if="${#strings.startsWith(ljubimac.profilna_fotografija, 'image')}">
					<img th:src="@{${'/ljubimac/dajContent' + ljubimac.id}}" alt="ovdje treba slika" class="rounded-circle mt-5"  width="90">
					<span class="font-weight-bold"><td th:text="${ljubimac.ime}" /></span>
					<input type="file" accept="/image/*" name="profilna_fotografija" placeholder="Slika ljubimca" disabled=true id="profilna_fotografija" style="display: none;" form="forma" class="form-control form-control-sm" >
				
				</div>
			</div>
			<div class="col-md-8">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<div class="d-flex flex-row align-items-center back" style="control:#5b2e48"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
							<a href="/vlasnik/profil"><h6>Vlasnik</h6></a>
						</div>
						<h6 class="text-right"></h6>
					</div>
					<div class="row mt-2">
						<div class="col-md-6"><input type="number" name="id" th:value="${ljubimac.id}" disabled=true class="form-control" placeholder="Id"></div>
						<div class="col-md-6"><input type=text name="ime" id="ime" th:value="${ljubimac.ime}" disabled=true form="forma" class="form-control" placeholder="Ime" maxlength="50" required></div>
					</div>
					<div class="row mt-3">
						<div class="col-md-6"><input type=text name="vrsta" id="vrsta" th:value="${ljubimac.vrsta}" disabled=true form="forma"class="form-control" placeholder="Vrsta" maxlength="50" required></div>
						<div class="col-md-6"><input type=date name="datum_rodenja" th:value="${ljubimac.datum_rodenja}" id="datum_rodenja" disabled=true form="forma" class="form-control"  placeholder="Datum rođenja" required></div>
					</div>
					<div class="row mt-3">
						<div class="col-md-6"><input type=text name="spol" th:value="${ljubimac.spol}" disabled=true id="spol" form="forma" class="form-control" placeholder="Spol" maxlength="20" required></div>
						<div class="col-md-6"><input type=text name="opis" th:value="${ljubimac.opis}" disabled=true id="opis" form="forma" class="form-control"  placeholder="Opis" maxlength="255" required></div>
					</div>
					
					
					<div class="row mt-5">
						
						<button class="btn btn-primary profile-button" type="button" id="edit" th:onclick="'edit()'">Uredi</button> </br>
						<button class="btn btn-primary profile-button" th:onclick="'window.location.href=\'/vlasnik/obrisiLjubimca/'+ ${ljubimac.id}+'\''">Obriši ljubimca</button>
						
						
					</div>
					<div class="row mt-3 text-right">
						<button class="btn btn-primary  float-right profile-button" type="submit" style="display: none; float: right;" id="save" form="forma" >Spremi</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	</div>
	

</body>
</html>

