<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<head>
    <title>Login</title>
    <!--link za ikone "fas fa-user" i "fas fa-lock"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style/login.css">
</head>

<body>
    <div class="container">

        <div th:if="${#request.getParameter('error') == 'true'}" style="color:red;margin:10px 0px;">
            Login Failed!!!<br /> Reason :
            <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}" th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

        </div>

        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Prijava</div>
                    <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name='username' placeholder="Korisničko ime" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name='password' placeholder="Lozinka" required>
                            </div>

                            <div class="button input-box">
                                <input type="submit" name="submit" value="Prijavi se">
                            </div>
                            <div class="text sign-up-text">Nemate račun? Registriraj se
                                <a th:href="@{./registerOsoba}">Osoba
                                </a> /
                                <a th:href="@{./registerTvrtka}">Tvrtka
                                </a>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="nl-logo">
                    <img class="logo" src="./images/logo7.png" alt="">
                </div>
            </div>
</body>

</html>