<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<head>

    <title>Poruke</title>
    <link rel="stylesheet" href="/style/poruke.css">
</head>

<body>

    <br>
    <br>
    <div class="container bootdey">

        <div class="email-app">
            <nav th:if="${not #lists.isEmpty(korisnici)}">
                <label>Pregledaj poruke od korisnika:</label>
                <form action="/prikaziPoruke" method="post" enctype="multipart/form-data">
                    <select th:name="username" required class="form-control">
                        <tr th:each="korisnik : ${korisnici}">
                            
                            <option th:value="${korisnik}" th:text="${korisnik}"></option>
                        </tr>
                    </select>
                    <label> </label>
                    <input type="submit" class="btn  btn-block" value="Pregledaj">

                </form>
                </br>

            </nav>
            <main>
                <form action="/posaljiPoruku" method="post" enctype="multipart/form-data">
                    <p class="text-center">Nova Poruka</p>

                    <div class="form-row mb-3">
                        <label for="to" class="col-2 col-sm-1 col-form-label">To:</label>
                        <div class="col-10 col-sm-11">
                            <input type="text" th:name="username" placeholder="Korisnik" class="form-control" required maxlength="255">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-11 ml-auto">

                            <div class="form-group mt-4">
                                <textarea id="kratka_poruka" th:name="poruka" class="form-control" rows="12"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Pošalji" class="btn btn-primary">
                                <a th:href="@{/preusmjeriProfil}" class="btn btn-light">  Odustani</a>

                            </div>

                        </div>

                    </div>
                </form>
            </main>
        </div>

        <div class="m-2" style="color: #cc0000;" th:utext="${slanjeError}"></div>
    </div>

</body>

</html>