<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <meta charset="UTF-8">
        <title>Poruke</title>
        <link rel="icon" type="image/png" href="/images/favicon1.png" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/pregledPoruka.css">
    </head>
</head>

<body>

    <main class="content">
        <div class="container p-0">
            <div class="d-flex flex-row align-items-center back" style="control:#5b2e48"><i class="fa fa-long-arrow-left mr-1 mb-1" style="color:#5b2e48"></i>
                <a th:href="@{/preusmjeriProfil}"><h6 style="color:#5b2e48">Profil</h6></a>
            </div>
            <h6 class="text-right"></h6>
            <h1 class="h3 mb-3">Poruke</h1>
    
            <div class="card">
                <div class="row g-0">
                    <div class="col-12 ">
                        <div class="py-2 px-4 border-bottom d-none d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <img src="/images/nlj-64.png" class="rounded-circle mr-1" alt="ime" width="40" height="40">
                                </div>
                                <div class="flex-grow-1 pl-3">
                                    <strong><td th:text="${vlasnik}"/></strong>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="position-relative">
                            <div class="chat-messages p-4">
                                <tr th:each="poruka : ${poruke}">
                                    <div class="chat-message-right pb-4" th:if="${vlasnik}!=${poruka.posiljatelj.userName}" >
                                        
                                        <div class="flex-shrink-1  rounded py-2 px-3 mr-3" th:text="${poruka.sadrzaj}" style="background-color:#5b2e48;color:#fff;">
                                            <div class="font-weight-bold mb-1" th:text="${poruka.posiljatelj.userName}"></div>
                                            
                                        </div>
                                    </div>

                                    <div class="chat-message-left pb-4" th:unless="${vlasnik}!=${poruka.posiljatelj.userName}">
                                        
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3" th:text="${poruka.sadrzaj}">
                                            <div class="font-weight-bold mb-1" th:text="${poruka.posiljatelj.userName}"></div>
                                            
                                        </div>
                                    </div>
                                </tr>


                                        <!--
                                        <tr th:each="poruka : ${poruke}">
                                            <div th:if="${vlasnik}==${poruka.posiljatelj.userName}">
                                                
                                                <span th:text="${poruka.posiljatelj.userName}"  ></span> <br/>
                                                <span th:text="${poruka.sadrzaj}" style="color:#ff0000;"></span> <br/>
                                            </div>
                                            <div th:unless="${vlasnik}==${poruka.posiljatelj.userName}">
                                                
                                                <span th:text="${poruka.posiljatelj.userName}"  ></span> <br/>
                                                <span th:text="${poruka.sadrzaj}" ></span> <br/>
                                            </div>
                                        </tr> 
                                    -->
                            </div>
                        </div>


                    </div> 
                </div>
            </div>
        </div>
    </main>

        
    
    <br/><br/>
</body>