<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<head>

    <title>Događaji</title>
    <link rel="stylesheet" href="/style/dogadajiPrijatelja.css">
</head>

<body>
    <tr th:each="dogadaj : ${dogadaji}">
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <section class="widget">
                        <div class="widget-body">
                            <div class="widget-top-overflow windget-padding-md clearfix text-white" style="background-color:#5b2e48;">

                                <h3>Događaj</h3>
                            </div>
                        </div>
                        <div class="widget-body">
                            <!-- ako postoji opis ispisi ga -->
                            <h5>Lokacija: </h5>
                            <td th:text="${dogadaj.lokacija}" /><br/>
                            <h5>Opis: </h5>
                            <td th:text="${dogadaj.opis}" /><br/>
                            <h5>Od: </h5>
                            <td th:text="${dogadaj.startDate}" /><br/>
                            <h5>Do: </h5>
                            <td th:text="${dogadaj.endDate}" /><br/>
                        </div>


                        <!-- ako postoje komentari ispisi ih -->
                        <footer class="bg-body-light">
                            <ul class="post-comments mt mb-0">
                                <table>
                                    <tr th:each="komentar : ${komentariDogadaja.get(dogadaj.id)}">

                                        <div class="comment-body">

                                            <h6 class="author fw-semi-bold" th:text="${komentar}">



                                            </h6>
                                            <hr>


                                        </div>

                                    </tr>
                                </table>

                                <form th:action="@{${'/komentirajDogadaj' + dogadaj.id}}" method='POST' enctype="multipart/form-data" target="dummyframe">

                                    <div class="comment-body" style="text-indent:10px;">
                                        <li>
                                            <input type="text" th:name="komentar" class="form-control input-sm" placeholder="Komentiraj..." required maxlength="255">
                                            <input type="submit" class="btn btn-primary" style="float:right;" onClick="setTimeout((function() {window.location.reload();}), 250);">
                                        </li>
                                    </div>

                                </form>
                            </ul>
                        </footer>
                        <br/>
                    </section>
                </div>


            </div>


            <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        </div>
    </tr>
    <a class="btn btn-primary" th:href="'/preusmjeriProfil'">Profil</a>
</body>

</html>