<!DOCTYPE html>


<head th:replace="header :: header"></head>

<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="/style/profil.css">
</head>

<body>
    <div class="container-fluid maxWidth">

        <nav class="navbar navbar-expand-lg  navbar-dark" style="background-color:#c2bac5">
            <a class="navbar-brand" href="#">
                <img src="/images/nlj-64.png" alt="Logo" style="width:40px;" class="rounded">
            </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #5b2e48;" href="/preusmjeriProfil">Moj profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #5b2e48;" href="/logout">Odjava</a>
                </li>


            </ul>
        </nav>

        <div class="profile-page tx-13">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="profile-header">

                        <div class="gray-shade"></div>
                        <div class="cover-body d-flex justify-content-between align-items-center">
                            <div class="m-3">
                                <img class="profile-pic" th:src="'/dajProfilnu/' + ${username}" alt="profile" onerror=this.src="/images/profila-def.jpeg">
                                <span class="profile-name"> <td th:text="${username}" /></span>
                            </div>
                            <div class="d-none d-md-block">
                                <div class="m-4">

                                    <div th:if="${zahtjevVecDobiven==false}">
                                        <div th:if="${zahtjevVecPoslan==false}">
                                            <form th:action="'/vlasnik/posaljiZahtjev' + ${username}" method='GET' enctype="multipart/form-data">
                                                <button class="btn btn-primary  btn-icon-text btn-edit-profile m-1" style="background-color:#5b2e48; border:none; width: 156px;">
										                      <input type="submit" value="Pošalji zahtjev za prijateljstvom" style="background-color:#5b2e48; border:none; color: #fff;white-space: initial;"></input>
                           			         	 </button>
                                            </form>
                                        </div>


                                        <div th:if="${zahtjevVecPoslan==true}" )>
                                            <b class="">Zahtjev je vec poslan</b>
                                        </div>
                                    </div>

                                    <div th:if="${zahtjevVecDobiven==true}">
                                        <form th:action="'/vlasnik/prihvatiZahtjev' + ${username}" method='GET' enctype="multipart/form-data">
                                            <button class="btn btn-primary  btn-icon-text btn-edit-profile m-1" style="background-color:#5b2e48; border:none; width: 150px;">
										                  <input type="submit" value="Prihvati prijatelja" style="background-color:#5b2e48; border:none; color: #fff;" onClick="setTimeout((function() {window.location.reload();}), 250);"></input>
                           				       </button>
                                        </form>
                                    </div>

                                    <form th:action="'/vlasnik/blokirajKorisnika' + ${username}" method='GET' enctype="multipart/form-data">
                                        <button class="btn btn-primary  btn-icon-text btn-edit-profile m-1" style="background-color:#5b2e48; border:none; width: 150px;">
									            	 <input type="submit" value="Blokiraj osobu" style="background-color:#5b2e48; border:none; color: #fff;"></input>
                           				 </button>
                                    </form>

                                </div>



                            </div>

                        </div>

                        <div class="header-links">
                            <ul class="links d-flex align-items-center mt-3 mt-md-0">

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <a th:href="@{/poruke}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <a class="pt-1px d-none d-md-block m-2" th:href="@{/poruke}">Poruke</a>
                                    </a>
                                </li>

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <a class="pt-1px d-none d-md-block m-2" th:href="'/pregledDogadaja?username=' + ${username}">Događaji</a>
                                </li>

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <a class="pt-1px d-none d-md-block m-2" th:href="'/prijavaKorisnika?username=' + ${username}">Prijavi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row profile-body">
                <!-- left wrapper start -->

                <!-- left wrapper end -->
                <!-- middle wrapper start -->

                <!-- middle wrapper end -->
                <!-- right wrapper start -->

                <!-- right wrapper end -->
            </div>
        </div>
    </div>


    <script type="text/javascript">
    </script>
</body>

</html>