<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>
<head>
    <meta charset="UTF-8">
	<title>Prijatelji</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/pregledPrijatelja.css">
</head>
<body>

	<div class="container">
		<div class="d-flex flex-row align-items-center back" style="control:#5b2e48"><i class="fa fa-long-arrow-left mr-1 mb-1" style="color:#5b2e48"></i>
			<a th:href="@{/preusmjeriProfil}"><h6 style="color:#5b2e48">Profil</h6></a>
		</div>
		
        <div class="row" th:each="prijatelj : ${prijatelji}">
            <div class="col-md-8">
                <div class="people-nearby" style="background-color:#c2bac5;">
                  
                  <div class="nearby-user" >
                    <div class="row">
                      <div class="col-md-2 col-sm-2">
                        <img th:src="'/dajProfilnu/' + ${prijatelj}" onerror=this.src="/images/profila-def.jpeg" class="profile-photo-lg">
                      </div>
                      <div class="col-md-7 col-sm-7">
                        <h5 th:text="${prijatelj}" style="position:relative; color:#5b2e48;"></h5>
                        
                      </div>
                      
                    </div>
                  </div>
                  
                </div>
            </div>
        </div>
    </div>
</body>

</html>