<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>
<head>
    
    <title>Prijavi Korisnika</title>
    
    <link rel="stylesheet" href="/style/prijaviKorisnika.css">
</head>
<body>
    <div class="form-body">
        <div class="row">
          <div class="form-holder">
            <div class="form-content">
              <div class="form-items">
                <h3>Prijavi korisnika</h3>
                <p th:text="${ username }"> </p>
                <form action="/prijavaKorisnika" method="post" enctype="multipart/form-data" class="requires-validation" >
      
                  <div class="col-md-12">
                    <input type="hidden" name="username" th:value="${username}">
                    <textarea class="form-control" th:name="opisPrijave"></textarea>
                    
                  </div>
      
                  
      
                  <div class="form-button mt-3">
                    <button type="submit" value="prijavi" id="submit" class="btn btn-primary">Prijavi</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

</body>
</html>