<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<head>
    <title>Register</title>
    <!--link za ikone "fas fa-user" i "fas fa-lock"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style/login.css">
</head>

<body>
    <div class="container">

        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Registracija - tvrtka</div>
                    <div th:if="${errorMessage != null}" th:utext="${errorMessage}" class="error">...</div>


                    <form name='f' th:action="@{/registerTvrtka}" th:object="${appTvrtkaForm}" method='POST'>
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name='username' placeholder="Korisničko ime" th:field="*{username}" required>
                            </div>

                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name='password' placeholder="Lozinka" th:field="*{password}" required>
                            </div>

                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name='password' placeholder="Potvrdi Lozinku" th:field="*{confirmPassword}" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-address-card"></i>
                                <input type="text" name='address' placeholder="Adresa" th:field="*{address}" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user-tie"></i>
                                <input type="text" name='name' placeholder="Ime Tvrtke" th:field="*{name}" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-mail-bulk"></i>
                                <input type="text" name='contact' placeholder="Contact" th:field="*{contact}" required>
                            </div>


                            <div class="button input-box">
                                <input type="submit" name="submit" value="Registriraj me">
                            </div>
                            <div class="text sign-up-text">
                                <a th:href="@{./}">Cancel</a>
                            </div>
                            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">..</div>
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</div>
                            <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">..</div>
                            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</div>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</div>
                            <div th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}">..</div>

                        </div>
                    </form>
                </div>


                <div class="nl-logo">
                    <img class="logo" src="./images/logo7.png" alt="">
                </div>
            </div>
</body>

</html>