<!DOCTYPE html>


<head th:replace="header :: header"></head>

<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="/style/profil.css">
</head>

<body>
    <div class="container-fluid maxWidth">

        <nav class="navbar navbar-expand-lg  navbar-dark" style="background-color:#c2bac5">
            <a class="navbar-brand" href="#">
                <img src="/images/nlj-64.png" alt="Logo" style="width:40px;" class="rounded">
            </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #5b2e48;" href="/preusmjeriProfil">Moj profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #5b2e48;" href="/logout">Odjava</a>
                </li>

            </ul>
        </nav>

        <div class="profile-page tx-13">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="profile-header">

                        <div class="gray-shade"></div>
                        <div class="cover-body d-flex justify-content-between align-items-center">
                            <div class="m-3">
                                <img class="profile-pic" th:src="'/dajProfilnu/' + ${username}" alt="profile" onerror=this.src="/images/profila-def.jpeg">
                                <span class="profile-name"> <td th:text="${username}" /></span>
                            </div>
                        </div>

                        <div class="header-links">
                            <ul class="links d-flex align-items-center mt-3 mt-md-0">

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <a th:href="@{/poruke}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <a class="pt-1px d-none d-md-block m-2" th:href="@{/poruke}">Poruke</a>
                                    </a>
                                </li>

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <a class="pt-1px d-none d-md-block m-2" th:href="'/pregledDogadaja?username=' + ${username}">Događaji</a>
                                </li>
                                
                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <a class="pt-1px d-none d-md-block m-2" th:href="'/prijavaKorisnika?username=' + ${username}">Prijavi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row profile-body">
                <!-- left wrapper start -->
                <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
                    <div class="card rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="card-title mb-0">O meni</h6>
                            </div>

                            <p th:text="${podaci.opis}">
                            </p>

                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Pridružio se:</label>
                                <p class="text-muted" th:text="${podaci.datumRegistracije}"></p>
                            </div>

                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Živi u:</label>
                                <p class="text-muted" th:text="${podaci.adresa}"></p>
                            </div>

                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Email:</label>
                                <p class="text-muted" th:text="${podaci.email}"></p>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
        </script>
</body>

</html>