<!DOCTYPE html>
<head th:replace="header :: header"></head>
<head>
    <title>Uredi podatke</title>
    <link rel="stylesheet" href="/style/urediProfilVlasnik.css">
</head>

<body>
	<div class="container">
        <form action="/vlasnik/azurirajPodatke" th:object="${vlasnikUpdateForm}" method="POST" enctype="multipart/form-data">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                        	<img class="profile-pic" src="/vlasnik/profilnaFotografija" alt="profile" onerror=this.src="/images/profila-def.jpeg">
                            <input type="file" accept="image/*"  th:field="*{profilnaFotografija}" class="form-control form-control-sm" id="formFileSm">
                            
                        </div>
                        <h5 class="user-name"><td th:text="${ime+' '+prezime}"/></h5>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mb-2 text-primary">O meni</h6>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="eMail">Email:</label>
                            <input type="text"  placeholder="Email" th:field="*{email}" class="form-control" required maxlength="50">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="desc">Opis:</label>
                            <input type="text" placeholder="Opis" th:field="*{opis}" id="kratka_poruka" class="form-control" maxlength="255">
                        </div>
                    </div>
                    
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mt-3 mb-2 text-primary">Adresa</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="Street">Ulica i broj:</label>
                            <input type="text" th:field="*{adresa}"  placeholder="Adresa" class="form-control" maxlength="50">
                        </div>
                    </div>
                    
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <button type="submit" id="submit" name="submit" class="btn btn-primary">Spremi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </form>
        <script>
        document.getElementById("profilnaFotografija").addEventListener('change', function() {
            var reader = new FileReader();
            reader.onload = function() {
                var arrayBuffer = this.result,
                array = new Uint8Array(arrayBuffer),
                binaryString = String.fromCharCode.apply(null, array);

            }
            reader.readAsArrayBuffer(this.files[0]);
        }, false);
    </script>
	</div>

</body>


</html>