<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>
<head>
    
    <title>Uredi podatke</title>
    <link rel="stylesheet" href="/style/urediProfilVlasnik.css">
</head>
<body>
 
<div class="container">
<form action="/tvrtka/azurirajPodatke"  th:object="${tvrtkaUpdateForm}" method="post" enctype="multipart/form-data">
<div class="row flex-lg-nowrap">
  
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"><td th:text="${naziv}"/></h4>
                    
                  </div>
                  
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Podaci o tvrtki</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Ime</label>
                              <input type="text" placeholder="Naziv" th:field="*{naziv}" class="form-control" required maxlength="36">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Kontakt</label>
                              <input type="text" placeholder="Kontakt" th:field="*{kontakt}" class="form-control" required maxlength="36">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Adresa</label>
                              <input type="text" placeholder="Adresa" th:field="*{adresa}" class="form-control" maxlength="50">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>Opis</label>
                              <textarea  rows="5" placeholder="Opis" th:field="*{opis}"  class="form-control" maxlength="255"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Usluge koje nudimo</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Čuvanje ljubimaca</label>
                              <input type="text" placeholder="Opis" th:field="*{opisCuvanje}" class="form-control">
                              <div class="form-check">
                                <input type="checkbox"   th:field="*{cuvanje}"  class="form-check-input" maxlength="255">
                              
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Odgoj ljubimaca</label>
                              <input type="text" placeholder="Opis" th:field="*{opisOdgoj}" class="form-control">
                              <div class="form-check">
                                <input type="checkbox"  th:field="*{odgoj}"  class="form-check-input" maxlength="255">
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Briga o zdravlju ljubimaca</label>
                              <input type="text" placeholder="Opis" th:field="*{opisBrigaOZdravlju}" class="form-control"></div>
                              <div class="form-check">
                                <input type="checkbox"  th:field="*{brigaOZdravlju}"  class="form-check-input" maxlength="255">
                                
                              </div>
                          </div>
                        </div>
                      </div>
                      
                    
                        
                    </div>

                    <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-primary" type="submit">Spremi</button>
                        </div>
                      </div>
                    
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>

  </div>
</div>
</form>
</div>
</body>
<html>