<!DOCTYPE html>


<head th:replace="header :: header"></head>

<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="/style/profil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container-fluid maxWidth">

        <nav class="navbar navbar-expand-lg  navbar-dark" style="background-color:#c2bac5">
            <a class="navbar-brand" href="#">
                <img src="/images/nlj-64.png" alt="Logo" style="width:40px;" class="rounded">
            </a>

            <form name='pretrazivanjeKorisnika' th:action="@{/vlasnik/pregledDrugogProfila}" method='POST' class="form-inline">
                <input type="text" th:name="username" class="form-control mr-sm-2" placeholder="Pretraživanje">
                <button class="btn btn-success " type="submit" style="background-color:#5b2e48; border:none;">Pretraži</button>
            </form>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #5b2e48;" href="/preusmjeriProfil">Moj profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" style="color: #5b2e48;" href="/logout">Odjava</a>
                </li>


            </ul>
        </nav>

        <div class="profile-page tx-13">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="profile-header">

                        <div class="gray-shade"></div>
                        <div class="cover-body d-flex justify-content-between align-items-center">
                            <div class="m-3">
                                <img class="profile-pic" src="/vlasnik/profilnaFotografija" alt="profile" onerror=this.src="/images/profila-def.jpeg">
                                <span class="profile-name"> <td th:text="${osoba.Username}" /></span>
                            </div>
                            <div class="d-none d-md-block">
                                <button class="btn btn-primary  btn-icon-text btn-edit-profile m-4" style="background-color:#5b2e48; border:none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit btn-icon-prepend">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                </svg> <a class="font-weight-bold" style="color: #fff;" th:href="@{/vlasnik/urediPodatke}"> Uredi podatke </a>
                            </button>
                            </div>
                        </div>

                        <div class="header-links">
                            <ul class="links d-flex align-items-center mt-3 mt-md-0">

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <a th:href="@{/poruke}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <a class="pt-1px d-none d-md-block m-2" th:href="@{/poruke}">Poruke</a>
                                    </a>
                                </li>

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M3 17v3a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-3"></path><polyline points="16 6 12 2 8 6"></polyline><line x1="12" y1="2" x2="12" y2="16"></line></svg>
                                    <a class="pt-1px d-none d-md-block m-2" th:href="@{/vlasnik/objava}">Objavi</a>
                                </li>

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users mr-1 icon-md">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                                    <a class="pt-1px d-none d-md-block m-2" th:href="@{/vlasnik/prijatelji}">Prijatelji <span class="text-muted tx-12"></span></a>
                                </li>

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <img src="/images/favicon1.png" width="24" height="24" viewBox="0 0 24 24" alt="">
                                    <a class="pt-1px d-none d-md-block m-2" th:href="@{/vlasnik/noviljubimac}">Novi ljubimac</a>
                                </li>

                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <a class="pt-1px d-none d-md-block m-2" th:href="@{/dogadaji}">Moji događaji</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row profile-body">
                <!-- left wrapper start -->
                <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
                    <div class="card rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="card-title mb-0">O meni</h6>
                            </div>
                            <p th:text="${podaci.opis}">
                            </p>
                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Pridružio se:</label>
                                <p class="text-muted" th:text="${podaci.datumRegistracije}"></p>
                            </div>
                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Živi u:</label>
                                <p class="text-muted" th:text="${podaci.adresa}"></p>
                            </div>
                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Email:</label>
                                <p class="text-muted" th:text="${podaci.email}"></p>
                            </div>
                            <div>
                                <table th:if="${#lists.isEmpty(sviZahtjevi)==false}">
                                    <tr class="m-2">
                                        <th style="width: 70px;">Zahtjevi: </th>
                                    </tr>
                                    <tr th:each="zahtjev: ${sviZahtjevi}">
                                        <div class="m-2">
                                            <td>
                                                <a style="width: 70px;" th:href="'/vlasnik/pregledDrugogProfila/'+${zahtjev}" th:text="${zahtjev}"></a>
                                            </td>
                                            <td style="width: 70px;">
                                                <form th:action="'/vlasnik/prihvatiZahtjev'+${zahtjev}" method="get">
                                                    <button class="btn btn-success m-2" type="submit" style="background-color:#5b2e48; border:none;">Prihvati</button>
                                                </form>
                                            </td>
                                        </div>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- left wrapper end -->
                <!-- middle wrapper start -->
                <div class="col-md-8 col-xl-6 middle-wrapper">
                    <div class="row">
                        <tr th:each="objava : ${sveObjave}">
                            <div class="col-md-12 grid-margin">
                                <div class="card rounded">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img class="img-xs rounded-circle" src="/vlasnik/profilnaFotografija" onerror=this.src="/images/profila-def.jpeg">
                                                <div class="ml-2">
                                                    <div class="m-2 profile-name ">
                                                        <td th:text="${osoba.Username}" />
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="dropdown">
                                                <button class="btn p-0" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg pb-3px">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">

                                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                                        <i class="fas fa-backspace"></i>
                                                        <span class="ml-2" th:onclick="'window.location.href=\'/obrisiObjavu/'+ ${objava.id}+'\''">Izbrisi objavu</span></a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="mb-3 tx-14">
                                            <td th:text="${objava.opis}" />
                                        </p>
                                        <div th:if="${objava.SlikaIliVideo != null}">
                                            <div th:if="${#strings.startsWith(objava.SlikaIliVideo, 'video')}">
                                                <video width="200" height="400" controls>
				                            	<source th:src="@{${'/dajContent' + objava.id}}">
					                               Your browser does not support the video tag.
				                                   </video>
                                            </div>

                                            <div th:if="${#strings.startsWith(objava.SlikaIliVideo, 'image')}">
                                                <img width="150" height="150" th:src="@{${'/dajContent' + objava.id}}" alt="ovdje treba slika" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-flex post-actions">



                                        </div>

                                        <table>

                                            <tr th:each="komentar : ${komentari.get( objava.id)}">

                                                <td class="align-top">
                                                    <div class="m-2" th:text="${komentar.Korisnik.userName}"></div>
                                                </td>

                                                <td class="align-top">
                                                    <div class="tx-11 text-muted m-2" style="width: 400px;" th:text="${komentar.Komentar.sadrzaj}">
                                                    </div>
                                                </td>

                                                <td class="align-top">
                                                    <button class="rounded m-2" th:onclick="'window.location.href=\'/obrisiKomentar/'+ ${komentar.Komentar.id}+'\''" style="background-color:#c2bac5; border:none;width: fit-content;padding: 0px 10px;">
                                                        Izbrisi
                                                    </button>
                                                </td>

                                            </tr>

                                        </table>

                                        <hr>
                                        <div class="m-1">
                                            <form th:action="@{${'/komentirajObjavu' + objava.id}}" method='POST' enctype="multipart/form-data" target="dummyframe">
                                                <input name="komentar" type="text" style="height:35px; width: 500 px" placeholder="Napisi komentar..." class="m-2 p-2 rounded" required maxlength="255">
                                                <button style="background-color:#5b2e48; border:none;" class="m-1 btn btn-success align-top">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-md fa-align-center">
                                                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                                                       </svg>                                                 
                                                          <input value="Komentiraj" type="submit" style="background-color:#5b2e48; border:none;color: #fff;" class=" align-center "  onClick="setTimeout((function() {window.location.reload();}), 250);">
                                                    </button>
                                            </form>

                                        </div>

                                        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

                                    </div>
                                </div>
                            </div>
                        </tr>

                    </div>
                </div>
                <!-- middle wrapper end -->
                <!-- right wrapper start -->
                <div class="d-none d-xl-block col-xl-3 right-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="card rounded">
                                <div class="card-body">
                                    <h6 class="card-title text-justify">Moji ljubimci</h6>
                                    <div th:if="${#lists.isEmpty(sviLjubimci)==false}">
                                        <div th:each="ljubimac: ${sviLjubimci}">
                                            <div th:if="${#strings.startsWith(ljubimac.profilna_fotografija, 'image')}">
                                                <a th:href="'/ljubimac/profil/'+${ljubimac.id}">
                                                    <div class="d-flex flex-row justify-content-between mb-2 pb-2 border-bottom">
                                                        <div class="m-2">
                                                            <img width="150" height="150" th:src="@{${'/ljubimac/dajContent' + ljubimac.id}}" alt="ovdje treba slika">
                                                        </div>

                                                        <div class="m-2">
                                                            <span class=" mb-2 text-center align-text-bottom" th:text="${ljubimac.ime}"></span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right wrapper end -->
                </div>
            </div>
        </div>


        <script type="text/javascript">
        </script>
</body>

</html>