<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<head>
    <title th:utext="${title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/prijaviKorisnika.css">
</head>

<body>
    <div class="form-body">
        <div class="row">
          <div class="form-holder">
            <div class="form-content">
              <div class="form-items">
                <h3>Dobro došli</h3>
                
                <div class="d-flex flex-row align-items-center back" style="control:#5b2e48"><i class="fa fa-paw" aria-hidden="true" style="color:#5b2e48"></i>
                    <a th:href="@{./login}"><h6 style="color:#5b2e48"> Prijavi se</h6></a>
                </div>
              </div>
            </div>
            <img src="/images/logo7.png" alt="logo"></img>
          </div>
        </div>
      </div>

</body>
</html>

</html>